.subs-btn-mark-watched, .subs-btn-mark-unwatched {
  height: 24px;
  position: absolute;
  bottom: 3px;
  left: 3px;
  border: none;
  border-radius: 2px;
  background-color: hsl(0, 0%, 6.7%);
  opacity: .6;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.subs-btn-mark-watched {
  width: 24px;
  background-image: url('images/markwatched.svg'), /*works in Firefox*/ url('chrome-extension://__MSG_@@extension_id__/images/markwatched.svg'); /*works in Chrome*/
}

.subs-btn-mark-unwatched {
  width: 95px;
  background-image: url('images/markunwatched.svg'), /*works in Firefox*/ url('chrome-extension://__MSG_@@extension_id__/images/markunwatched.svg'); /*works in Chrome*/
}

.subs-btn-mark-watched:hover, .subs-btn-mark-unwatched:hover {
  opacity: .8;
  cursor: pointer;
}

.subs-btn-mark-watched:active, .subs-btn-mark-unwatched:active {
  opacity: 1.0;
  cursor: pointer;
}

.subs-grid-menu-item {
  padding-left: 10pt !important;
  padding-right: 10pt !important;
}

.subs-grid-menu-mark-all {
  opacity: 0.7;
}

.subs-grid-menu-mark-all:hover {
  cursor: pointer;
  opacity: 0.9;
}

.subs-grid-menu-mark-all:active {
  opacity: 1.0;
  cursor: pointer;
}
