.subs-btn-mark-watched {
    background-color: #4A4A4AB3;
    border: none;
    border-radius: 4px;
    color: white;
    text-align: center;
    text-decoration: none;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.subs-btn-mark-watched:hover {
    background-color: #A8A8A8;
    cursor: pointer;
}

.subs-btn-mark-watched:active {
    background-color: #4A4A4A;
    cursor: pointer;
}